@font-face {
  font-family: "Sulphur Point";
  src: url("Font/SulphurPoint-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sulphur Point";
  src: url("Font/SulphurPoint-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sulphur Point";
  src: url("Font/SulphurPoint-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sulphur Point", sans-serif;
}